@font-face {
    font-family: 'Montserrat Bold'; /*a name to be used later*/
    src: url('../fonts/Montserrat-Bold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'GillSansSemiBold';
    src: url('../fonts/GillSansSemiBold.woff2') format("woff2"); /*URL to font*/
}
@font-face {
    font-family: 'NovecentoWideLight'; 
    src: url('../fonts/NovecentoWideLight.woff2') format("woff2"); /*URL to font*/
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt-wght.ttf') format("truetype-variations");
}
@font-face {
  font-family: 'InterBolder';
  src: url('../fonts/Inter-bold/Inter-VariableFont_slnt.ttf') format("truetype-variations");
}