.topbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 3rem;
  background-color: $gray-800;
  .social-media-wrap{
    display: flex;    
    align-items: center;    
    justify-content: space-evenly;
    align-items: center;
    span{
      width: 32px;
      height: 32px;
      // background-color: $theme-color1;
      padding:  20px;
      border-radius: 5px;
      margin-right: 10px; 
      padding: 2px;
      border-radius: 5px;
      margin-right: 10px;
      display: inline-block;
      text-align: center;     
      i{
        color: #fff;
        font-size: 24px;
      }
    }
  }
  .search-wrap{   
    button{
      background-color:transparent;
      border:none;
      i{
        color: #fff;
        font-size: 24px;
      }
    }
  }
  .top-menu{    
    .nav-link{
      color: #fff;
    }
  }
}
.nav-link{
  font-family: $font-family-montserrat-bold !important;
  font-size: .875rem !important;
  text-transform: uppercase;
}
.navbar-nav{
  .request-demo-btn{
    margin-left: 2rem;
  }
}
.request-demo-btn{
  @include button-block($theme-color1, $white, $border-light, $theme-color1, $font-weight-bold);
}
.dark-btn{
  @include button-block($black, $white, $border-light, $black, $font-weight-bold);
}
.theme-btn{
  @include button-block($theme-color1, $white, $border-light, $theme-color1, $font-weight-bold);
  padding: 10px 15px;
}
048431
.text-white{
  color: $white;
}
.text-blue{
  color: $theme-color2;
}
.text-orange{
  color: $theme-color-old;
}
section{ 
  margin-top: 5rem; 
  margin-bottom: 3rem;
}
#mainMenu.navbar{
  width: 100%;
  justify-content: space-between !important;
  align-items: center;  
  border-bottom:3px solid $theme-color1;
  // .navbar-brand{
  //   img{
  //     max-width: 70px;
  //   }
  // }
}
#homeSlider{  
  .banner-wrap{
    .banner-bg{      
      height: 100%;
      width: 100%;
    }
    position: relative;
    .banner-content{
      // position: absolute;      
      bottom:0;
      margin: auto;
      a{
        text-decoration: none;
      }
      .banner-text{
        font-family: $font-family-montserrat-regular !important;
        font-weight: 400 !important;
      }
    }
  }
}
.pageSlider{  
  .banner-wrap{
    .banner-bg{      
      height: 100%;
      width: 100%;
    }
    position: relative;
    .banner-content{
      // position: absolute;      
      bottom:0;
      margin: auto;
      a{
        text-decoration: none;
      }
      .banner-text{
        font-family: $font-family-montserrat-regular !important;
        font-weight: 400 !important;
      }
    }
  }
}
.multi-button-wrap{
  display: flex;
  .btn{   
    text-transform: uppercase;    
  }
  .btn-small{
    min-width: auto;
    margin: 12px 15px 0 0;
    padding: 8px;
    text-transform: uppercase;
  }
  .btn-medium{
    min-width: auto;
    margin: 12px 15px 0 0;
    padding: 10px 12px;
    text-transform: capitalize;
  }  
}
.heading-xl{
  font-family: $font-family-Inter-bold !important;
  letter-spacing: .02em;  
  font-weight: 700;
}
.large-heading{
  h1{
    font-family: $font-family-montserrat-bold !important;
    letter-spacing: .02em;  
  }
}
.list-wrap{
  .img-icon{
    width: 45px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  div:nth-child(2){
    margin-left: 12px;
  }
}
.video-container{
  position: relative;
  text-align: center;
  .play-btn{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.theme-btn-white{
  @include button-block($white, $theme-color1, $border-bold, $theme-color1, $font-weight-bold);
  padding:12px 30px;
}
.theme-btn-orange{
  @include button-block($theme-color1, $white, $border-bold, $theme-color1, $font-weight-bold);
  padding:12px 30px;
}

.btn-white{
  @include button-block($white, $theme-color1, $border-bold, $theme-color1, $font-weight-bold);
}

.cyber-experts{
  background-image: url('./../images/wave-7.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 5rem;
  min-height: 642px;
  // background-color: #ecf1f5;
  .expert-heading{
    // margin-top: 3rem;
  }
  .expert-warp{
    padding:20px;
    background-color: #fff;
    min-height: 230px;
    a{
      text-transform: uppercase;
      color: $theme-color1;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
.testimonials{  
  .banner-wrap{
    .banner-bg{
      height: 100%;
      width: 100%;
    }
    position: relative;
    .banner-content{      
      margin: auto;
      .name{
        font-weight: bold;
      }
      h2.desc{
        font-family:$font-family-Inter !important;
      }
    }
  }
}
.blog-container{
  background-image: url('./../images/curve-6.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  // background-color: #ecf1f5;
  .blog-wrap{
    position: relative;
    .blog-content{
      background-color: rgba(243, 243, 243, .70);      
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left:0;
      padding:20px;
      p{
        font-size:1.2rem;
      }
      a{
        text-decoration: none;
        font-weight: bold;
        color: $black;
      }
    }
  }
}
.partners{
  padding-top: 3rem;
  padding-bottom: 3rem;  
}
.light-bg{
  background: linear-gradient(90deg, #f3e8e8e3, transparent);
  padding:5px;
  max-width:350px;
}
.contact-bg{
  background-image: url('./../images/contact-sec-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // padding-top: 5rem;
  // padding-bottom: 5rem;
}
footer{
  // .container{
  //   max-width: 95.75% !important;
  // }
  .footer-wrap{
    background-color: #f8f8f8;
    border-top: 1px solid $theme-color1;
    padding: 30px 0 20px;
    .address{
      p{
        font-weight: 700;
        font-size: .875rem !important;
      }
      margin: 10px 0;     
    }
    .footer-logo{
      img{
        max-width: 70px;
      }
    }
    .about-desc{
      text-align: left;
      width: 90%;
      margin-left: auto;
    }
    .social-wrap{
      .icons{
        display: flex;
        align-items:center;
        padding:0 10px;                      
        .fi-wrap{
          width: 35px;
          height: 35px;
          background-color: $theme-color1;
          padding:  20px;
          border-radius: 5px;
          margin-right: 10px; 
          padding: 5px;
          border-radius: 5px;
          margin-right: 10px;
          margin-bottom: 10px;
          display: inline-block;
          text-align: center;     
          i{
            color: #fff;
            font-size: 24px;
          }          
        } 
      }
    }
    a.footer-link{
      color: $theme-color1 !important;
      text-decoration: none !important;
    }
  }
  #copyright{
    background-color: #343a40;
    padding: 15px 0 0;
    .copyright-wrap{
      display: flex;       
      justify-content: space-between;       
      p.rights-text{
        color: #fff;
        margin-bottom: 15px !important;     
        span{
          color: #fff;
          // margin-right: 2.5rem;
        }
        span a{
          color: #fff;
          text-decoration: none !important;
        }     
      }
    }
  }
}
.contact-form{
  padding: 30px 0;
  width: 100%;  
  h5{
    font-family: $font-family-montserrat-regular !important;
    font-size: 1.2rem !important;
  }  
  input.contact-text-field::focus{
    &::after{
      content:'';
    }
  }
  input.contact-text-field,select, input.contact-date-field{
    background-color: #e2e2e2;
    height: 42px;
    padding:10px !important;
    font-family: $font-family-montserrat-regular !important;
      font-size: .875rem;
      &:focus{
        background-color: #fff;       
      }
  }
  input.contact-date-field:focus .cal-icon{
    display: none;
  }
  input, select, textarea{    
    width: 100%;
    &:hover, &:focus{
      outline: none;
    }
  }
  textarea{
    min-height: 150px;
    padding:10px !important;
    font-size: .875rem;
    &:focus{
      background-color: #fff;       
    }
  }
  .custom-form-send-button .custom-form-submit{
    @include button-block($theme-color1, $white, $border-light, $theme-color1, $font-weight-bold);
    padding: 10px;
    width: 100%;
  }
  .wpcf7-response-output{
    margin: 0 auto !important;
  }
}
.services-container{
  background-image: url('./../images/services-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-attachment: fixed;
  background-position: center;
  .services-wrapper{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;    
    div.service:nth-child(3){
      order:1;
    }
    div:nth-child(2){
      order:2;
    }
    div:nth-child(1){
      order:3;
    }
  }
  .service-wrap{
    background-color:$black;    
    .service-title{
      border-bottom: 2px solid $theme-color1;
    }
  }
}
.resource-wrap{
  .theme-btn-orange{
    padding: 10px !important;
  }
}
.partners-container{
  // background-color: $black;
  .partner-img-wrap{
    background-color: $white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 300px;
    }
  }
}
.about-team{
  justify-content: center;
  .member-desc{
    margin-top: 1.5rem;
    h3, h5, h6{
      font-family: $font-family-Inter !important;
      font-weight: normal !important;
    }
  }
}
.call-action-container{
  background-color:$theme-color2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .dark-btn{
    padding: 12px 20px;
    margin: 1rem;
    border-radius:0;
  }
}
.w-70{
  width: 70%;
}
.product-offer{
  h3, h5{
    font-family: $font-family-Inter !important;
    font-weight: normal;
  }
  .product-desc{
    img{
      margin-bottom: 1rem;
    }
    padding: 10px 0 0;
    text-align: left;
    border-left: 1px solid $gray-300; 
    .features-height{
      // margin-bottom: 2.5rem;
      // min-height: 250px;
    }
    .benefits-height{
      min-height: 200px;
      margin-bottom: 2.5rem;
    }  
  }
  .product-desktop .row .product-desc:nth-child(1){
    border-left: 0; 
  }
  .btn-white{
    padding:10px 15px;
  }
  .theme-btn-white{
    padding: 1rem 2rem !important;
  }
}
.w-80{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#productTestimonials{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  .product-testimonial-wrap{
    background-color: $black;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:2rem;
  }
  .carousel-control-prev-icon {
    background-image: url('../images/left-arrow.png') !important;  
  }
  .carousel-control-next-icon {
    background-image: url('../images/right-arrow.png') !important;    
  }
}
.sticky {
  position: fixed;
  top:0;  
  width: 100%;
  background-color: $white;
  z-index: 999;
}
.carousel-control-next, .carousel-control-prev {  
  width: 5%;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
  outline: 0;
  color: rgba(1, 35, 149, 1);
  border-color: rgba(1, 35, 149, 1); 
}
#teamModal{
  .modal-desc{
    text-align: justify;
  }

}
.team-wrap .card{
  box-shadow: 2px 2px 7px #939394;
}