{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
<section class="home-header mb-0 mt-0 pageSlider" id="servicesSlider">
  <div class="banner-wrap">
    {{ with .Params.image }}
    <img class="banner-bg" src="{{ . | relURL }}" alt="product banner">
    {{ end }}   
    <div class="banner-content">
      <a class="mb-2" href="#">
      </a>                     
      <h3 class="banner-text text-white mt-2" style="font-weight: 600;">{{ .Params.description | markdownify }}</h3>                
    </div>
  </div>  
</section >
<!-- /banner -->
<!-- Product Offered -->
<section>
  <div class="layout-container">
    <h3 class="text-center" style="font-weight: 400;">Our team of OptICA product experts and cybersecurity compliance experts train our partners extensively to support our customers</h3>
    <p class="text-center mt-4">The following services are typically offered by our partners to ensure that the OptICA system is not only successfully implemented but, the client’s team is fully supported through compliance and audit processes.</p>
  </div>
</section>
<section class="services-container mt-0 mb-0">
  <div class="">
    <div class="row g-3 services-wrapper ">
      {{ range $index, $data := ( .Data.Pages ) }}
      <div class="service col-lg-4 col-md-4 col-sm-12 me-auto ms-auto ">
        {{ .Render "service" }}
      </div>
      {{ end }}             
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section>
  <div class="row mt-5 ms-0 me-0">   
    <div class="col-12 text-center mb-4"> 
      <button type="button" class="theme-btn-white download-fact-sheet" data-file="{{ $.Site.BaseURL }}files/OptICA_Product-Sheet_20220602a-DRAFT.pdf">Download Product Fact Sheet</button>
    </div>
    <div class="col-12 text-center">
      <button type="button" class="theme-btn-white request-demo" data-option="Request a Demo">Request Demo</button>
    </div>
  </div>
</section>
{{ end }}