{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
<section class="home-header mb-0 mt-0 pageSlider" id="partnerSlider">
  <div class="banner-wrap">
    {{ with .Params.image }}
    <img class="banner-bg" src="{{ . | relURL }}" alt="product banner">
    {{ end }}   
    <div class="banner-content" style="">
      <div class="mb-4 large-heading">
        <h1 class="text-white">{{ .Params.bannerTitle | markdownify }}</h1>
      </div>                           
      <h3 class="banner-text text-white mt-2" style="">{{ .Params.description | markdownify }}</h3>                
    </div>
  </div>  
</section >
<!-- /banner -->

{{ if .Site.Data.homepage.partners.enable }}
{{ with .Site.Data.homepage.partners}}
<section class="partners-container">
  <div class="layout-container">
    <h1 class="text-center text-orange text-uppercase">OUR CURRENT BUSINESS PARTNERS</h1>        
    <div class="row align-items-center mt-3 g-5"> 
     {{ range .businessPartner}}
      <div class="col-lg-4 text-center partener-wrap">
        <a href="{{ .link }}" target="_blank"><img class="img-fluid" src="{{ .image | relURL }}" ></a>
      </div>
      {{ end }}      
      <div class="clearfix"></div>
    </div>        
  </div>
</section>
{{ end }}
{{ end }}
<section>
  <div class="row mt-5">    
    <div class="col-12 text-center">           
      <button type="button" class="theme-btn-white request-demo" data-option="Partnership Inquiry">Contact Us To Discuss Partnership Arrangements</button>
    </div>
  </div>
</section>

{{ end }}