{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
<section class="home-header mb-0 mt-0 pageSlider" id="productsSlider">
  <div class="banner-wrap">
    {{ with .Params.image }}
    <img class="banner-bg" src="{{ . | relURL }}" alt="product banner">
    {{ end }}   
    <div class="banner-content">      
      <h1 class="text-white heading-xl">ISAC </h1>
      <h5 class="text-white"><span class="text-orange">I</span>nformation <span class="text-orange">S</span>ecurity <span class="text-orange">A</span>ll-in-one <span class="text-orange">C</span>onsole with Continuous Compliance Technology</h5>                      
      <h5 class="banner-text text-white mt-2" style="">{{ .Params.description | markdownify }}</h5>                
    </div>
  </div>  
</section >
<!-- /banner -->
<!-- Product Offered -->
<section id="productOffer" class="product-offer">
  <div class="layout-container">
    <h2 class="text-center text-orange mb-4">OptICA&trade;<span class="text-uppercase"> SOLUTIONS GUARANTEES THAT YOU WILL PASS YOUR DISA STIG/SCAP AUDIT Generally In the First Pass WITH PROPER IMPLEMENTATION OF ISAC</span>
    </h2>
  </div>
  <!-- Desktop Layout Start -->
  <div class="container-fluid product-desktop">   
     <div class="row p-3">
      {{ range .Params.productFAQ }}     
        <div class="col-12">        
          <div class="product-desc layout-container">
            <h4 class="text-orange mb-4">{{ .title }}</h4>
            <div class="features-height">
              <ul>
                {{ range .list }}
                  <li>{{ .listItem | markdownify }}</li>    
                {{ end }}
              </ul>          
            </div>
          </div>
        </div>      
      {{ end }}
    </div>    
    <div class="row mt-5">     
      <div class="col-12 text-center mb-5">
        <button type="button" class="theme-btn-white download-fact-sheet" data-file="{{ $.Site.BaseURL }}files/ISACWebsiteFeedback.pdf">Download Product Fact Sheet</button>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="theme-btn-white request-demo" data-option="Request a Demo">Request Demo</button>
      </div>
    </div>
  </div>
</section>
<!-- /Product Offered -->
<!-- about -->

{{ if .Site.Data.homepage.testimonials.enable }}
{{ with .Site.Data.homepage.testimonials }}
<section id="testmonials" class="testimonials">
  <h1 class="text-center text-uppercase mb-5">{{ .title | markdownify }}</h1>
  <div class="layout-container">
    <div id="textimonialSliderControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {{ range $index, $data := ( .review ) }}                  
          <div class="carousel-item {{ if (eq $index 0) }} active {{ end }}">
            <div class="banner-wrap">
              <img class="banner-bg" src="{{ .image | relURL }}">
              <div class="banner-content">                
                <div class="ms-auto col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-12 col-xs-12">
                  <h3 class="name">{{ .firstName }} {{ .lastName }} - {{ .designation }} - {{ .company }}</h3>
                  <h2 class="mt-4 desc">{{ .content | markdownify }}</h2>
                  <button type="button" class="btn theme-btn-orange mt-5">
                    <h3><i class="fa fa-play-circle-o" aria-hidden="true"></i><span class="text-white text-uppercase">Hear {{ .firstName }}'s Story</span></h3>
                  </button>
                </div>
                <div class="clearfix"></div>                
              </div>
            </div>
          </div>       
        {{ end }}                  
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#textimonialSliderControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#textimonialSliderControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
  </div>     
</section> 
{{ end }}
{{ end }}
{{ if .Site.Data.homepage.callAction.enable }}
{{ with .Site.Data.homepage.callAction }}
{{ end }}
{{ end }}
{{ end }}