{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- banner -->
<section class="home-header mb-0 mt-0" id="homeSlider">
  <div class="banner-wrap">
    {{ with .Params.image }}
    <img class="banner-bg" src="{{ . | relURL }}" alt="product banner">
    {{ end }}   
    <div class="banner-content" style="width: 50%;height: 200px;">
      <div class="mb-4 large-heading">
        <h1 class="text-white">{{ .Params.title | markdownify }}</h1>
      </div>                           
      <h3 class="banner-text text-white mt-2" style="">{{ .Params.description | markdownify }}</h3>                
    </div>
  </div>  
</section >
<!-- /banner -->
<section>
  <div class="layout-container">
    <img src="../images/undesr-construction.jpg" class="w-100">
  </div>
</section>
<!-- <section id="resource">
  <div class="container">
    <div class="row g-5">          
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="col-lg-11 form-group">
          <label class="filmtrack-head text-uppercase">Type</label>
          <select class="form-control">
            <option> </option>
            <option>Success stories</option>
            <option>solution</option>
            <option>Video</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="col-lg-11 col-lg-offset-1 form-group">
          <label class="filmtrack-head text-uppercase">Solution</label>
          <select class="form-control">
            <option> </option>
            <option>Success stories</option>
            <option>solution</option>
            <option>Video</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
        <div class="col-lg-11 col-lg-offset-1 form-group">
          <label class="filmtrack-head text-uppercase">Search</label>
            <div class="icon-addon addon-lg">
              <input type="text"  class="form-control" id="search">
              <label  class="glyphicon glyphicon-search" title="search"></label>
            </div>
        </div>
      </div>          
    </div>
    <div class="row mt-3 g-5">
      {{ range $index, $data := ( .Data.Pages ) }}         
      <div class="col-lg-4 col-sm-4 col-xs-12">
        {{ .Render "resource" }}
      </div>
      {{ end }}                
    </div>        
  </div>
</section> -->

{{ end }}