{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}
<!-- banner -->
<section class="home-header mb-0 mt-0 pageSlider" id="companySlider">
  <div class="banner-wrap">
    {{ with .Params.image }}
    <img class="banner-bg" src="{{ . | relURL }}" alt="product banner">
    {{ end }}   
    <div class="banner-content">
      <div class="mb-4 large-heading">
        <h1 class="text-white">{{ .Params.title | markdownify }}</h1>
      </div>                           
      <h3 class="banner-text text-white mt-2" style="">{{ .Params.description | markdownify }}</h3>                
    </div>
  </div>  
</section >
<!-- /banner -->
<section>
  <div class="layout-container text-center">
    <h5>Our team of highly experienced, high caliber Cybersecurity Professionals, Data Security Professionals, IT Professionals and Government Contracting specialists are here to help you quickly attain and sustain compliance at scale with DISA and other agency’s standards at home and across the globe</h5>
  </div>  
</section>
<section class="">
  <div class="layout-container">
    <div class="row mb-5 g-5 about-team">
      <div class="heading-color text-center">
        <h1 class="text-orange text-uppercase">Leadership Team</h1>
      </div>
      {{ range .Data.Pages.ByParam "Category"  }}
      {{ if eq .Params.Category "leadership" }}
        <div class="col-lg-4 col-md-4 col-sm-6">        
          {{ .Render "team" }}
        </div>
      {{ end }}
      {{ end }}      
    </div>
    <div class="row g-5 about-team">
      <div class="heading-color text-center">
        <h1 class="text-orange text-uppercase">Board Of Advisors</h1>
      </div>
      {{ range .Data.Pages.ByParam "Category"  }}
      {{ if eq .Params.Category "admin" }}
        <div class="col-lg-4 col-md-4 col-sm-6">        
          {{ .Render "team" }}
        </div>
      {{ end }}
      {{ end }}      
    </div>
  </div>
</section>


<section class="">
  <div class="layout-container">
    <div class="row mb-5 g-5 about-team">
      <div class="heading-color text-center">
        <h1 class="text-orange text-uppercase">Corporate Management</h1>
      </div>
      {{ range .Data.Pages.ByParam "Category"  }}
      {{ if eq .Params.Category "corporate" }}
        <div class="col-lg-4 col-md-4 col-sm-6">        
          {{ .Render "team" }}
        </div>
      {{ end }}
      {{ end }}      
    </div>    
  </div>
</section>

<section>
  <div class="row mt-5">    
    <div class="col-12 text-center">
      <button type="button" class="theme-btn-white request-demo" data-option="Request Meeting" data-bs-toggle="modal" data-bs-target="#contactModal">Contact Us To Learn More About Our Team</button>
    </div>
  </div>
</section>
<!-- {{ if .Site.Data.homepage.callAction.enable }}
{{ with .Site.Data.homepage.callAction }}
<section class="call-action-container mb-0">
  <div class="layout-container">
    <div class="w-70 text-center me-auto ms-auto">
      <h2 class="text-white mb-3">{{ .title | markdownify }}</h2>
      <p class="text-white mb-3 " style="font-size:1.5rem">{{ .content | markdownify }}</p>
      <button class="btn dark-btn btn-medium">JOIN OUR TEAM</button> 
    </div>      
  </div>
</section>
{{ end }}
{{ end }} -->

{{ end }}