{{ define "main" }}
{{ $data := index site.Data site.Language.Lang }}
<!-- banner -->
<section class="home-header mb-0 mt-0" id="homeSlider">
  <div class="banner-wrap">
    {{ with .Params.image }}
    <img class="banner-bg" src="{{ . | relURL }}" alt="product banner">
    {{ end }}   
    <div class="banner-content" style="height: 200px; width: 700px;">
      <div class="mb-4 large-heading">
        <h1 class="text-white text-uppercase">{{ .Params.title | markdownify }}</h1>
      </div>                           
      <h3 class="banner-text text-white mt-2" style="">{{ .Params.description | markdownify }}</h3>                
    </div>
  </div>  
</section >
<!-- /banner -->
<section>
  <div class="layout-container text-center">
    <h5>Our team of highly experience, high caliber Cybersecurity Professionals, Data Security Professionals, IT Professionals and Government Contracting specialists are hear to help you attain and maintain compliance with DISA and other agency’s standards</h5>
  </div>  
</section>
<section class="">
  <div class="layout-container">
    <div class="row mb-5 g-5 about-team">
      <div class="heading-color text-center">
        <h1 class="text-orange text-uppercase">Leadership Team</h1>
      </div>
      {{ range .Data.Pages.ByParam "Category"  }}
      {{ if eq .Params.Category "leadership" }}
        <div class="col-lg-4 col-md-4 col-sm-6">        
          {{ .Render "team" }}
        </div>
      {{ end }}
      {{ end }}      
    </div>
    <div class="row g-5 about-team">
      <div class="heading-color text-center">
        <h1 class="text-orange text-uppercase">Board Of Advisors</h1>
      </div>
      {{ range .Data.Pages.ByParam "Category"  }}
      {{ if eq .Params.Category "admin" }}
        <div class="col-lg-4 col-md-4 col-sm-6">        
          {{ .Render "team" }}
        </div>
      {{ end }}
      {{ end }}      
    </div>
  </div>
</section>
{{ if .Site.Data.homepage.callAction.enable }}
{{ with .Site.Data.homepage.callAction }}
<section class="call-action-container mb-0">
  <div class="layout-container">
    <div class="w-70 text-center me-auto ms-auto">
      <h2 class="text-white mb-3">{{ .title | markdownify }}</h2>
      <p class="text-white mb-3 " style="font-size:1.5rem">{{ .content | markdownify }}</p>
      <button class="btn dark-btn btn-medium">JOIN OUR TEAM</button> 
    </div>      
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}